/*
 *
 */

* {
    font-family: roboto, sans-serif;
    font-weight: 300;
}
body {
    font-size: 1.2em;
    margin-top: 0;
}
input,
button,
select {
    font-size: inherit;
    min-width: 3em;
}
input,
select {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #cecece;
    text-align: center;
}
input:focus,
select:focus {
    outline: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 0.7em;
}
header .field {
    display: inline-block;
}
#timer.play button:after {
    content: '▶';
}
#timer.stop button:after {
    content: '■';
}
main {
    padding-top: 2em;
    columns: 3;
    text-align: center;
}
main .op {
    font-size: 2em;
    line-height: 1.7em;
    transition: opacity 1.7s;
}
main .op .a,
main .op .b {
    display: inline-block;
    min-width: 1.1em;
}
main .op .sign {
    font-size: 0.6em;
    vertical-align: top;
}
main .op input {
    min-width: inherit;
    width: 2em;
}
main .op.err input {
    color: red;
    border-bottom-color: red;
}
main footer {
    margin-top: 2em;
}
main footer #score {
    min-height: 150px;
    font-size: 1.7em;
    padding-top: 0.7em;
    transform: rotate(-7deg);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
/* https://github.com/una/animated-emojis
 * https://dribbble.com/shots/1925708-Emojis
 */
.emojis {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url(emojis.gif);
    background-repeat: no-repeat;
}
.emojis--01 { background-position: -42px -48px; }
.emojis--02 { background-position: -148px -48px; }
.emojis--03 { background-position: -254px -48px; }
.emojis--04 { background-position: -360px -48px; }
.emojis--05 { background-position: -466px -48px; }
.emojis--06 { background-position: -572px -48px; }
.emojis--07 { background-position: -678px -48px; }

.emojis--08 { background-position: -42px -154px; }
.emojis--09 { background-position: -148px -154px; }
.emojis--10 { background-position: -254px -154px; }
.emojis--11 { background-position: -360px -154px; }
.emojis--12 { background-position: -466px -154px; }
.emojis--13 { background-position: -572px -154px; }
.emojis--14 { background-position: -678px -154px; }

.emojis--15 { background-position: -42px -260px; }
.emojis--16 { background-position: -148px -260px; }
.emojis--17 { background-position: -254px -260px; }
.emojis--18 { background-position: -360px -260px; }
.emojis--19 { background-position: -466px -260px; }
.emojis--20 { background-position: -572px -260px; }
.emojis--21 { background-position: -678px -260px; }

.emojis--22 { background-position: -42px -366px; }
.emojis--23 { background-position: -148px -366px; }
.emojis--24 { background-position: -254px -366px; }
.emojis--25 { background-position: -360px -366px; }
.emojis--26 { background-position: -466px -366px; }
.emojis--27 { background-position: -572px -366px; }
.emojis--28 { background-position: -678px -366px; }

.emojis--29 { background-position: -42px -472px; }
.emojis--30 { background-position: -148px -472px; }
.emojis--31 { background-position: -254px -472px; }
.emojis--32 { background-position: -360px -472px; }
.emojis--33 { background-position: -466px -472px; }
.emojis--34 { background-position: -572px -472px; }
.emojis--35 { background-position: -678px -472px; }


/*
 * Media queries
 */

@media print {
    header,
    footer {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .field {
        display: block;
        margin-top: 0.3em;
    }
    .field label {
        display: inline-block;
        min-width: 6em;
    }
    main {
        columns: 1;
    }
}
